@model EmployeeManagement.Models.EmployeeListViewModel

<h1 class="pull-left">@Model.Names</h1>
<a href="/Employees/Create" class="btn btn-info pull-right" style="margin-top: 20px">Insert</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model.Employees)
{
    <tr>
        <td>@employee.FirstName</td>
        <td>@employee.LastName</td>
        <td>@employee.Phone</td>
        <td>@employee.CreatedAt.ToString("dd/MM/yyyy")</td>
        <td>@employee.UpdatedAt.ToString("dd/MM/yyyy")</td>
        
        <td>
            <a href="/Employees/Update/@employee.Id" class="btn btn-default">Update</a>
            <a href="/Employees/Delete/@employee.Id" class="btn btn-danger">Delete</a>
            <a href="/Assignments/Index/@employee.Id" class="btn btn-info">Assignments</a>
        </td>
    </tr>
}
    </tbody>
</table>